project:
  type: website
  resources:
    - survey/questions.csv
    - survey/index.html
    - survey/images/*

website:
  title: CHR 2025 - Seeing History Unseen
  favicon: android-chrome-512x512.png
  open-graph: true
  twitter-card: true
  site-url: https://maehr.github.io/chr2025-seeing-history-unseen/
  repo-url: https://github.com/maehr/chr2025-seeing-history-unseen/
  issue-url: https://github.com/maehr/chr2025-seeing-history-unseen/issues/new/choose
  repo-actions: [edit, issue]
  page-navigation: true
  bread-crumbs: true
  back-to-top-navigation: true
  search:
    show-item-context: true
    type: overlay
  navbar:
    logo: android-chrome-512x512.png
    logo-alt: 'CHR 2025'
    title: CHR 2025 - Seeing History Unseen
    tools:
      - icon: github
        url: https://github.com/maehr/chr2025-seeing-history-unseen/
    left:
      - text: Readme
        href: index.qmd
      - text: Report
        href: report.md
      - text: Survey
        href: survey/index.qmd

  sidebar:
    contents:
      - section: CHR 2025 Materials
        href: index.qmd
        contents:
          - text: Changelog
            href: CHANGELOG.md
          - text: Code of Conduct
            href: CODE_OF_CONDUCT.md
          - text: Contributing
            href: CONTRIBUTING.md
          - text: License (Data)
            href: LICENSE-CCBY.md
          - text: License (Code)
            href: LICENSE-AGPL.md
          - text: Security
            href: SECURITY.md
      - href: report.md
        contents: project-management/*
      - section: Survey
        href: survey/index.qmd

format:
  html:
    toc: true
    theme:
      - brand
      - cosmo
    css: styles.css
    code-copy: true
    code-overflow: wrap

freeze: true

editor: visual
