/*-- scss:rules --*/

/* Apply globally */
.reveal ::selection {
	color: #3a1e3e;
	background-color: #ffe880;
}

.reveal .center-text {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.reveal .right-justify {
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}

.reveal .reveal-header p,
.reveal .inverse-header p {
	color: #ffffff !important;
	font-weight: bolder !important;
	font-size: 2.5rem !important;
	text-decoration: underline;
	text-decoration-color: #ffe880;
	text-decoration-thickness: 4px;
	white-space: nowrap;
}

.reveal-header .sc-title p,
.reveal-header .sb-title p {
	color: #ffffff !important;
	font-weight: bolder !important;
	font-size: 2.5rem !important;
	white-space: nowrap;
	text-decoration: underline;
	text-decoration-color: #ffe880;
	text-decoration-thickness: 4px;
}

.reveal-header .inverse-header p,
.reveal-header .inverse-header p {
	color: #ffffff !important;
	font-weight: bolder !important;
	font-size: 2.5rem !important;
	white-space: nowrap;
	text-decoration: underline;
	text-decoration-color: #ffe880;
	text-decoration-thickness: 4px;
}

.reveal .progress {
	color: #ffe880;
}

.reveal .slide-number {
	color: #ffffff !important;
	&:hover {
		color: #ffe880 !important;
	}
}

.reveal .slide-menu-button .fa-bars::before {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(255, 255, 255)" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>') !important;
}

/* Allow wrapping on small screens (600px or less) */
@media screen and (max-width: 600px) {
	.reveal .reveal-header p,
	.reveal .inverse-header p,
	.reveal-header .sc-title p,
	.reveal-header .sb-title p {
		white-space: normal;
	}
}
